.customers{
	text-align: center;
	width: 200%;
	
}

.search_reserva{

	width: auto;
	padding: 10px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 20px;
	justify-content:center;
	border-radius: 4px;
	font-family: 'calibri';
	font-size: 1.2em;
}
.room-icon{
	height: auto;
	max-width:200px;
	width: 150%;
	flex-basis: 0;
}

.rooms_available{

	width: 100%;
	margin: 0px;
	padding: 5px;
	margin-bottom: 100px;
	justify-content:center;
	font-family: 'calibri';
	font-size: 1.2em;
}

.border{
	border: groove;
}

.cantidad {

	width: auto;
	height: auto;
	padding:10px;
	font-size: 1.0em;
	font-family: 'calibri';

}

.button_cantidad{
	display: block;
	width: 40px;
	height: 40px;
	border: none;
}

.text_adult{
	display: block;
	padding: 10px;
	font-size: 1.2em;
	color: #000;
}

#resultado_adults{

	padding:10px;
}

#resultado_ninos{

	padding:10px;
}



// #reservation{
// background-color:$white;
// }

//.row{
//clases

//}

//*
//todo documento
